aiohttp==3.7.4
async-timeout==3.0.1
attrs==20.3.0
beautifulsoup4==4.9.3
certifi==2020.12.5
chardet==3.0.4
click==7.1.2
fastapi==0.63.0
gunicorn==20.0.4
h11==0.12.0
idna==3.1
lxml==4.6.2
multidict==5.1.0
pydantic==1.8.1
soupsieve==2.2
starlette==0.13.6
typing-extensions==3.7.4.3
uvicorn==0.13.4
yarl==1.6.3
